 body {
    margin: 0;
    background-color: #eee;
    font-family: Besley, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.outer0 {
    background-color: hsl(204deg 38% 15%);
    padding: 1px;
    border-radius: 100px;
}

.outer1 {
    background-color: hsl(202deg 20% 43%);
    padding: 1.2px;
    border-radius: 100px;
}

.outer2 {
    background-color: hsl(189deg 24% 68%);
    padding: 2px;
    border-radius: 100px;
}

.outer3 {
    background-color: hsl(203deg 38% 18%);
    padding: 5px;
    border-radius: 100px;
}

.mainBod {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 489px;
    height: 984px;
    background-color: black;
    border-radius: 100px;
}

.notification {
    display: flex;
    align-items: center;
    padding-top: 2.2em;
    gap: 4em;
}

.notif-time {
    color: white;
}

.notif-camera {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
    margin-left: 1em
}

.speaker {
    width: 3.5em;
    height: 0.4em;
    background-color: rgb(32, 32, 32);
    border: .5px solid hsl(0deg 0% 20%);
    
}

.camera {
    width: .7em;
    height: .7em;
    background-color: hsl(207deg 51% 26%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(56, 54, 54);
}

.camera div {
    width: .5rem;
    height: .5rem;
    background-color: rgba(17, 38, 54, 0.568);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera div div {
    width: .2rem;
    height: .2rem;
    background-color: rgba(10, 25, 36, 0.568);
    border-radius: 50%;
}

.notif-battery img {
    width: 5em;
    height: auto;
}

.output-container {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    margin-top: 1rem;
}

.output {
    padding: 3rem;
    display: flex;
    text-overflow: clip;
    justify-content: flex-end;
    color: #eee;
    /* background-color: rgb(138, 138, 138); */

    font-size: 4rem;
    font-weight: 100;
    inline-size: 393px;
    height: 30px;
    word-break: break-all;
}

/* .output {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

.input-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 520px;
    width: 85%;
    grid-gap: 1rem;
    padding: 2rem;
}

.button {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 2.5rem;
}

.key {
    background-color: #9f9f9f;
    color: black;
}

.operator {
    background-color: #f69906;
}

.number {
    background-color: #313131;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    height: auto;
    border-radius: 50px;
}

.calculate {
    background-color: #f69906;
}

div.bottom {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bottom div {
    width: 10rem;
    height: 0.3rem;
    background-color: hsl(120deg 6% 97%);
}
