body {
    margin: 0;
    background-color: #eee;
    font-family: Besley, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainBod {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 489px;
    height: 984px;
    background-color: black;
    border-radius: 90px;
}

.notification {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 3.5em;
    gap: 4em;
}

.notif-time {
    color: white;
    top: 0;
}

.notif-camera {
    display: flex;
    align-items: center;
    gap: 2em;
}

.speaker {
    width: 3em;
    height: 0.4em;
    background-color: white;
}

.camera {
    width: .4em;
    height: .4em;
    background-color: #eee;
    border-radius: 50%;
}