 body {
    margin: 0;
    background-color: #eee;
    font-family: Besley, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainBod {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 489px;
    height: 984px;
    background-color: black;
    border-radius: 90px;
}

.notification {
    display: flex;
    align-items: center;
    padding-top: 2.5em;
    gap: 4em;
}

.notif-time {
    color: white;
    transform: translate(-1.5em);
}

.notif-camera {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: ;
}

.speaker {
    width: 3.5em;
    height: 0.4em;
    background-color: white;
    
}

.camera {
    width: .4em;
    height: .4em;
    background-color: #eee;
    border-radius: 50%;
}

.notif-battery {

}

.notif-battery img {
    width: 5em;
    height: auto;
    transform: translate(1.5em);
}