 body {
    margin: 0;
    background-color: #eee;
    font-family: Besley, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.mainBod {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 489px;
    height: 984px;
    background-color: black;
    border-radius: 100px;
}

.notification {
    display: flex;
    align-items: center;
    padding-top: 2.2em;
    gap: 4em;
}

.notif-time {
    color: white;
}

.notif-camera {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
    margin-left: 1em
}

.speaker {
    width: 3.5em;
    height: 0.4em;
    background-color: hsl(0deg 0% 9%);
    border: .5px solid hsl(0deg 0% 20%);
    
}

.camera {
    width: .7em;
    height: .7em;
    background-color: hsl(207deg 51% 26%);
    border-radius: 50%;
}

.notif-battery img {
    width: 5em;
    height: auto;
}

.output-container {
    background-color: white;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
}

.output {
    padding: 3rem;
    justify-content: flex-end;
    color: #eee;
    background-color: rgb(56, 56, 56);
    font-size: 4rem;
    font-weight: 100;
    inline-size: 393px;
    word-break: break-all;
    /* border-top-left-radius: 100px;
    border-top-right-radius: 100px; */
}

.output {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
